body {
	line-height: 1.2;
	color: #000;
	letter-spacing: -1px; 
}
.wrapper{
	padding-top:200px;
	padding-bottom:100px;
}  

.form-signin {
	max-width: 600px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.checkbox {
	font-weight: normal;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	
}

}
input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

}
.textCenter {
	text-align: center;
}
#btn_login{  
	width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background: #E60012; 
    color: white;
    border: #E60012;
    font-size: 20px;
}  